
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 80%;
    margin: auto;
    border: solid 1px;
    box-shadow: 10px 10px 10px 5px black;
    background-color: #47141e;
    color: #fff;
    border-radius: 50px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: #47141e;
    color: #fff;
  }
  
  .form-group {
    margin-top: 5px;
  }
 